<link rel="import" href="../custom-html-element.html">

<template id='payments-chart-template'>
    <style>
        :host {
            background: #f9f9fb;
            margin: 0;
            max-height: 400px;
            padding: 15px;
            display: block;
        }

        #chart {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-around;
            height: 120px;
            background: green;
        }

        #chart .chart-col {
            height: 100px;
            background: grey;
            width: 6%;
        }
    </style>

    <h1>pet Month</h1>
    <div id='chart'>
        <div class='chart-col' style='height: 50px'></div>
        <div class='chart-col' style='height: 70px'></div>
        <div class='chart-col' style='height: 60px'></div>
        <div class='chart-col' style='height: 30px'></div>
        <div class='chart-col' style='height: 90px'></div>
        <div class='chart-col' style='height: 50px'></div>
        <div class='chart-col' style='height: 10px'></div>
        <div class='chart-col' style='height: 50px'></div>
        <div class='chart-col' style='height: 30px'></div>
        <div class='chart-col' style='height: 50px'></div>
        <div class='chart-col' style='height: 60px'></div>
        <div class='chart-col' style='height: 60px'></div>
    </div>
</template>

<script>
    (function () {
        class Chart extends CustomHTMLElement {
            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
                console.log('payments-chart connected to page');
            }
        }

        let thisImportDoc = document.currentScript.ownerDocument;
        Chart.templateId = 'payments-chart-template';
        Chart.importDoc = thisImportDoc;
        ShadyCSS.prepareTemplate(Chart.template, 'payments-chart');
        customElements.define('payments-chart', Chart);
    })();
</script>
