<link rel="import" href="../custom-html-element.html">
<link rel="import" href="../custom-elements/loader/is-loading.html">

<template id='add-payment-template'>
    <style>
        :host {
            background: var(--white);;
        }

        h2 {
            color: var(--dd-blue);;
            margin-top: 0;
            margin-bottom: 3px;
            margin-left: 6px;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 15px;
            transition: all 20ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: var(--dd-blue);;
        }

        .close:hover {
            color: var(--d-blue);;
        }

        .content {
            display: flex;
            flex-direction: column;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        .form-group {
            display: flex;
            flex-direction: row;
        }

        .form-control {
            display: flex;
            flex-direction: column;
            margin: 5px;
            width: 100%;
        }

        .form-control.title {
            width: 50%;
            margin-right: 9%;
        }

        .content .form-group .form-control.amount {
            width: 40%;
        }

        input, textarea, select, select {
            width: 100%;
            color: var(--d-blue);;
            font: inherit;
            border: thin solid var(--d-blue);;
            outline: 0;
            padding: 12px 8px;
            box-sizing: border-box;
        }

        label {
            color: var(--d-blue);
            font-size: 15px;
        }

        #submit-btn {
            align-self: flex-end;
            width: 100px;
            height: 35px;
            border: none;
            border-radius: 2px;
            outline: none;
            color: white;
            margin-right: 1%;
            background: var(--dd-blue);;
            font-size: 1rem;
            letter-spacing: 2px;
            cursor: pointer;
            margin-top: 15px;
        }

        /*Success styling */
        .success-msg {
            color: #270;
            background-color: #DFF2BF;
            width: 300px;
            visibility: hidden;
            opacity: 0;
            margin: 0;
            margin-left: 5px;
            padding: 10px;
            border-radius: 3px;
        }

        .fadeInOut {
            animation: fadeinout 5s linear forwards;
        }

        @keyframes fadeinout {
            0%, 100% {
                opacity: 0;
                visibility: hidden;
            }
            3%, 90% {
                opacity: 1;
                visibility: visible;
            }
        }

        /* Error Styling */
        .error-message {
            color: #cc0033;
            display: inline-block;
            font-size: 12px;
            line-height: 13px;
            margin: 5px 0 0;
        }

        .form-control .error-message {
            display: none;
        }

        .error label {
            color: #cc0033;
        }

        .error input, .error textarea, .error select {
            background-color: #fce4e4;
            border: 1px solid #cc0033;
            outline: none;
        }

        .error .error-message {
            display: inline-block;
        }
    </style>

    <h2>Add new payment</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
        <p class="success-msg">
            Payment was added successfully
        </p>
        <form action="/store" method="post" accept-charset="utf-8">
            <div class="form-group">
                <div class="form-control title">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title"/>
                    <span class="error-message">Title is as required field</span>
                </div>
                <div class="form-control amount">
                    <label for="amount">Amount</label>
                    <input type="number" step="0.01" name="amount" id="amount"/>
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label for="category_id">Category</label>
                    <select name="category_id" id="category_id">
                        <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label for="created_at">Date</label>
                    <input type="date" name="created_at" id="created_at"/>
                    <span class="error-message"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label for="comment">Comment</label>
                    <textarea name="comment" id="comment"></textarea>
                    <span class="error-message"></span>
                </div>
            </div>
            <button type="submit" id="submit-btn">Create</button>
        </form>
    </div>
    <is-loading></is-loading>
</template>

<script>
    (function () {
        class AddPayment extends CustomHTMLElement {
            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
                console.log('add payment connected to page');

                this.form = this.shadowRoot.querySelector('form');

                this.fillCategories();
                this.addPaymentSubmitEvent();
                this.listenPaymentEvents();
                this.clearFormOnClose();
            }

            listenPaymentEvents() {
                store.subscribe(() => {
                    const state = store.getState();
                    const lastAction = state.lastAction;

                    switch (lastAction) {
                        case 'ADD_PAYMENT_SUCCESS':
                            this.clearForm();
                            this.showSuccessMessage();
                            break;
                        case 'ADD_PAYMENT_FAILURE':
                            this.showErrorMessages(state.errorMessages);
                            break;
                    }
                    this.setLoaderVisible(store.getState().isAdding);
                });
            }

            addPaymentSubmitEvent() {
                this.form.addEventListener('submit', evt => {
                    evt.preventDefault();

                    const formData = new FormData(this.form);

                    this.clearErrors();
                    store.dispatch(actions.addPayment(formData));
                    this.setLoaderVisible(store.getState().isAdding);
                });
            }

            setLoaderVisible(visible) {
                const loader = this.shadowRoot.querySelector('is-loading');
                loader.visible = visible;
            }

            showSuccessMessage() {
                const successMsg = this.shadowRoot.querySelector('.success-msg');

                successMsg.classList.remove('fadeInOut');
                setTimeout(() => {
                    successMsg.classList.add('fadeInOut');
                }, 0);
            }

            clearForm() {
                const inputs = this.form.querySelectorAll('input, select, textarea');
                Array.from(inputs).forEach(el => {
                    if (el.tagName === 'textarea')
                        el.innerHTML = '';
                    else
                        el.value = '';
                    el.parentElement.classList.remove('error');
                })
            }

            clearErrors() {
                const inputs = this.form.querySelectorAll('input, select, textarea');
                Array.from(inputs).forEach(el => {
                    el.parentElement.classList.remove('error');
                })
            }

            showErrorMessages(errors) {
                Object.keys(errors).forEach(key => {
                    const inputEl = this.shadowRoot.querySelector(`#${key}`);
                    if (!!inputEl) {
                        const parentEl = inputEl.parentElement;

                        parentEl.classList.add('error');

                        const errorMsgEl = parentEl.querySelector('.error-message');
                        errorMsgEl.innerHTML = errors[key][0];
                    }
                });
            }

            fillCategories() {
                store.dispatch(actions.fetchCategories());

                store.subscribe(() => {
                    if (store.getState().lastAction !== 'FETCH_CATEGORIES_SUCCESS')
                        return;

                    const selectEl = this.shadowRoot.querySelector('#category_id');
                    selectEl.innerHTML = '';
                    selectEl.appendChild(document.createElement('option'));

                    const categories = store.getState().categories;
                    categories.forEach(category => {
                        const optionEl = document.createElement('option');
                        optionEl.value = category.id;
                        optionEl.innerHTML = category.title;
                        selectEl.appendChild(optionEl);
                    });
                });
            }

            clearFormOnClose() {
                this.shadowRoot.querySelector('.close').addEventListener('click', () => {
                    this.clearForm();
                })
            }
        }

        let thisImportDoc = document.currentScript.ownerDocument;
        AddPayment.templateId = 'add-payment-template';
        AddPayment.importDoc = thisImportDoc;
        ShadyCSS.prepareTemplate(AddPayment.template, 'add-payment');
        customElements.define('add-payment', AddPayment);
    })();
</script>
