<link rel="import" href="../custom-elements/switch-field/switch-category-field.html">
<link rel="import" href="../custom-elements/search-input/search-input.html">
<link rel="import" href="../custom-html-element.html">

<template id='payments-filter-template'>
    <style>
        :host {
            background: #d1ddeb;
            margin: 0 auto;
            display: flex;
        }

        .form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        @media (max-width: 768px) {
            .filter-section, .extended-filters {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        .extended-filters {
            display: none;
            flex-direction: row;
            background: #f9f9fb;
            padding: 15px;
        }

        .extended-filters[visible] {
            display: flex;
        }

        .extended-filters .form-group:nth-child(2) {
            border-left: thin solid #bbbbbb;
            border-right: thin solid #bbbbbb;
        }

        switch-category-field {
            flex: 5;
        }

        .form-group {
            flex: 4;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-group > .form-control {
            min-width: 150px;
        }

        .form-group.category > .form-control {
            align-self: flex-start;
            margin-left: 8px;
        }

        .filter-section {
            background: #f9f9fb;
            color: white;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
        }

        .add-payment-btn {
            padding: 5px;
            font-size: 20px;
            cursor: pointer;
            background: #f9f9fb;
            color: #a7bedb;
            border: none;
            width: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .add-payment-btn > .circle {
            border: 1px solid #a7bedb;
            border-radius: 50%;
            font-size: 27px;
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }

        .actions {
            margin-left: auto;
            display: flex;
            align-items: center;
            margin-right: 10px;
        }

        @media (max-width: 768px) {
            .actions {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        .extended-filters-toggle {
            border: 0;
            font-size: 0.8rem;
            background: #a7bedb;
            margin-left: 10px;
            text-transform: uppercase;
            cursor: pointer;
            color: #f9f9fb;
            width: 150px;
            height: 40px;
            border-radius: 20px;
        }

    </style>

    <form class="form">
        <div class="filter-section">
            <button type="button" class="add-payment-btn">
                <span class="circle">+</span>
                <span>ADD PAYMENT</span>
            </button>
            <div class="actions">
                <search-input name="title" class="input"></search-input>
                <button type="button" class="extended-filters-toggle">extended filters</button>
            </div>
        </div>
        <div class="extended-filters">
            <div class="form-group category">
                <h3 class="form-control">filter by amount</h3>
                <switch-category-field class="form-control input" name="category_id" value="-1"></switch-category-field>
            </div>

            <div class="form-group">
                <h3 class="form-control">filter by date</h3>
                <input type="date" name="start_date" value="" class="form-control input" placeholder="from">
                <input type="date" name="end_date" value="" class="form-control input" placeholder="to">
            </div>

            <div class="form-group">
                <h3 class="form-control">filter by amount</h3>
                <input type="number" name="min_amount" class="form-control input" placeholder="from">
                <input type="number" name="max_amount" class="form-control input" placeholder="to">
            </div>
        </div>
    </form>
</template>

<script>
    (function () {
        class Filter extends CustomHTMLElement {
            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
                console.log('payments-filter connected to page');

                const form = this.shadowRoot.querySelector('form');
                const inputs = form.getElementsByClassName('input');

                Array.from(inputs).forEach(input => {
                    input.addEventListener('input', evt => {

                        let filterData = this.getFilterData(inputs);

                        store.dispatch(actions.fetchPayments(filterData));
                    });
                });

                this.addExtendedFiltersToggleEvent(form);
            }

            getFilterData(inputs) {
                return Array.from(inputs).reduce((acc, cur) => {
                    if (!!cur['value']) {
                        acc[cur['name']] = cur['value'];
                    }
                    return acc;
                }, {});
            }

            addExtendedFiltersToggleEvent(form) {
                form.querySelector('.extended-filters-toggle').addEventListener('click', evt => {
                    const extendedFilters = form.querySelector('.extended-filters');
                    if (extendedFilters.hasAttribute('visible')) {
                        extendedFilters.removeAttribute('visible');
                    } else {
                        extendedFilters.setAttribute('visible', '');
                    }
                })
            }

            get visible() {
                return this.hasAttribute('visible');
            }

            set visible(val) {
                if (val) {
                    this.setAttribute('visible', '');
                } else {
                    this.removeAttribute('visible');
                }
            }
        }

        let thisImportDoc = document.currentScript.ownerDocument;
        Filter.templateId = 'payments-filter-template';
        Filter.importDoc = thisImportDoc;
        ShadyCSS.prepareTemplate(Filter.template, 'payments-filter');
        customElements.define('payments-filter', Filter);
    })();
</script>
