<template id='payment-item-template'>
    <style>
        :host {
            background: #f9f9fb;
            margin: 0;
            max-height: 400px;
            padding: 15px;
            display: block;
            border-bottom: thin solid #bbbbbb;
        }

        #content {
            display: flex;
            flex-direction: column;
        }

        .main-info {
            display: flex;
            flex-direction: row;
        }

        .date-amount {
            margin-left: auto;
        }

        .date-amount > p {
            text-align: end;
        }
    </style>

    <div id='content'>
        <div class="main-info">
            <div class="title-category">
                <h4 class="title">title</h4>
                <span class="category">category</span>
            </div>
            <div class="date-amount">
                <p class="date">on sunday, 18 April 2017</p>
                <p class="amount">-21.80</p>
                <p>GEL</p>
            </div>
        </div>
        <div class="comment">
            <h3>Comment:</h3>
            <p>comment comment comment comment comment comment </p>
        </div>
    </div>
</template>

<script>
    (function () {
        let thisImportDoc = document.currentScript.ownerDocument;

        class Payment extends HTMLElement {
            constructor() {
                super();

                let shadowRoot = this.attachShadow({mode: 'open'});
                let template = Payment.template;
                shadowRoot.appendChild(
                    document.importNode(template.content, true)
                );
            }

            static get template() {
                if (!this._template) {
                    this._template = thisImportDoc.querySelector('#payment-item-template');
                }
                return this._template;
            }

            connectedCallback() {
                console.log('payment connected to page');

                // Polyfill
                const supportNativeShadowDom = !!HTMLElement.prototype.attachShadow;
                if (!supportNativeShadowDom) {
                    ShadyCSS.applyStyle(this);
                }
            }
        }

        ShadyCSS.prepareTemplate(Payment.template, 'payment-item');

        customElements.define('payment-item', Payment);
    })();
</script>
