<link rel="import" href="../custom-html-element.html">

<template id='add-payment-template'>
    <style>

        h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 20ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

        .close:hover {
            color: #06d85f;
        }
        .content {
            display: flex;
            flex-direction: column;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        .form-group{
            display:flex;
            flex-direction: row;
        }
        .form-control{
            display:flex;
            flex-direction: column;
            margin:5px;
            width: 90%;
        }
        .form-control.title{
            width: 50%;
            margin-right: 9%;
        }
        
        .content .form-group .form-control.amount{
            width: 30%;
        }
        input, textarea {
            width: 100%;
            background: #fff;
            color: #a3a3a3;
            font: inherit;
            border: thin solid grey;
            outline: 0;
            padding: 12px 8px;
        }

        #submit-btn {
            align-self: flex-end;
            margin-right: 5.5%;
            width: 110px;
            height: 50px;
            border: none;
            border-radius: 4px;
            color: white;
            background: green;
            font-size: 1rem;
            letter-spacing: 2px;
            cursor: pointer;
        }
    </style>

    <h2>Add new payment</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
        <form action="/store" method="post" accept-charset="utf-8">
            <div class="form-group">
                <div class="form-control title">
                    <label for="title">Title</label> 
                    <input type="text" value="" name="title" id="title"/>
                    <span class="error" id="title-error"></span>
                </div> 
                <div class="form-control amount">
                    <label for="amount">Amount</label> 
                    <input type="text" value="" name="amount" id="amount"/>
                    <span class="error" id="amount-error"></span>
                </div> 
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label for="category_id">Category</label> 
                    <input type="text" value="" name="category_id" id="category_id"/>
                    <span class="error" id="category_id-error"></span>
                </div> 
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label for="created_at">Date</label> 
                    <input type="date" value="" name="created_at" id="created_at"/>
                    <span class="error" id="created_at-error"></span>
                </div> 
            </div>
            <div class="form-group">
                <div class="form-control">
                    <label for="comment">Comment</label> 
                    <textarea name="comment"></textarea>
                    <span class="error" id="comment-error"></span>
                </div> 
            </div>
            <button type="submit" id="submit-btn">Create</button>
        </form>
    </div>
</template>

<script>
    (function () {
        class AddPayment extends CustomHTMLElement {
            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
                console.log('add payment connected to page');

                const form = this.shadowRoot.querySelector('form');

                form.addEventListener('submit', evt => {
                    evt.preventDefault();

                    const formData = new FormData(form);

                    store.dispatch(actions.addPayment(formData));
                });

                store.subscribe(() => {
                    const state = store.getState();
                    const lastAction = state.lastAction;

                    switch (lastAction) {
                        case 'ADD_PAYMENT_SUCCESS':
                            this.clearForm();
                            this.showSuccessMessage();
                            break;
                        case 'ADD_PAYMENT_FAILED':
                            this.showErrorMessages(state.errorMessages);
                            break;
                    }
                });
            }

            showSuccessMessage() {

            }

            clearForm() {

            }

            showErrorMessages(errors) {

            }
        }

        let thisImportDoc = document.currentScript.ownerDocument;
        AddPayment.templateId = 'add-payment-template';
        AddPayment.importDoc = thisImportDoc;
        ShadyCSS.prepareTemplate(AddPayment.template, 'add-payment');
        customElements.define('add-payment', AddPayment);
    })();
</script>
