<link rel="import" href="payment-item.html">
<link rel="import" href="../custom-html-element.html">

<template id='payments-list-template'>
    <style>
        :host {
            background: #f9f9fb;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        #content {
            display: block;
            max-height: 563px;
            overflow-y: scroll;
        }

        .total-spent {
            background: #a1c3ff;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
        }

        .total-spent > p {
            margin: 5px 10px 5px 5px;
            color: #f9f9fb;
            font-size: 15px;
            text-align: end;
        }

        .total-spent > #total-spent-value {
            font-size: 19px;
        }
    </style>

    <div id='content'>
        <!-- <payment-item title="asdasd" category="asdasdsfs" date="asdasd" amount="11.02" comment="wqeasda asdasd"></payment-item> -->
    </div>
    <div class="total-spent">
        <p> Total </p>
        <p id="total-spent-value"> 40.30 </p>
    </div>
</template>

<script>
    (function () {
        class Payments extends CustomHTMLElement {
            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
                console.log('payments-list connected to page');

                store.dispatch(actions.fetchPayments());

                store.subscribe(() => {
                    const lastAction = store.getState().lastAction;
                    if (!['FETCH_PAYMENTS_SUCCESS', 'ADD_PAYMENT_SUCCESS'].includes(lastAction))
                        return;

                    const payments = store.getState().payments;

                    this.updatePaymentList(payments);
                    this.updateTotalSpent(payments);
                })
            }

            updatePaymentList(payments) {
                const content = this.shadowRoot.querySelector('#content');
                content.innerHTML = '';

                payments.forEach(payment => {
                    const paymentElement = document.createElement('payment-item');
                    paymentElement.setAttribute('title', payment.title);
                    paymentElement.setAttribute('date', payment.created_at);
                    paymentElement.setAttribute('category', payment.category.title);
                    paymentElement.setAttribute('amount', payment.amount);
                    paymentElement.setAttribute('comment', payment.comment);
                    content.appendChild(paymentElement);
                });
            }

            updateTotalSpent(payments) {
                const totalSpent = payments.map(p => +p.amount).reduce((acc, cur) => acc + cur, 0);
                this.shadowRoot.querySelector('#total-spent-value').innerHTML = totalSpent.toFixed(2);
            }
        }


        let thisImportDoc = document.currentScript.ownerDocument;
        Payments.templateId = 'payments-list-template';
        Payments.importDoc = thisImportDoc;
        ShadyCSS.prepareTemplate(Payments.template, 'payments-list');
        customElements.define('payments-list', Payments);
    })();
</script>
