<link rel="import" href="../custom-html-element.html">
<link rel="import" href="../custom-elements/chart-column/chart-column.html">

<template id='payments-chart-template'>
    <style>
        :host {
            background: #f9f9fb;
            margin: 0;
            max-height: 400px;
            padding: 15px;
            display: none;
            flex-direction: column;
        }

        :host([visible]) {
            display: flex;
        }

        #chart {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-around;
            height: 200px;
        }

        #title {
            color: #45617e;
            margin: 0 0 8px;
        }

    </style>

    <h3 id="title">Per Month</h3>
    <div id='chart'>
        <chart-column height="40" amount="30.20" month="Jan"></chart-column>
        <chart-column height="50" amount="35.20" month="Feb"></chart-column>
        <chart-column height="60" amount="30.20" month="Mar"></chart-column>
        <chart-column height="30" amount="30.20" month="Apr"></chart-column>
        <chart-column height="20" amount="30.20" month="May"></chart-column>
        <chart-column height="30" amount="30.20" month="Jun"></chart-column>
        <chart-column height="34" amount="30.20" month="Jul"></chart-column>
        <chart-column height="40" amount="30.20" month="Aug"></chart-column>
        <chart-column height="45" amount="30.20" month="Sep"></chart-column>
        <chart-column height="50" amount="30.20" month="Oct"></chart-column>
        <chart-column height="45" amount="30.20" month="Nov"></chart-column>
        <chart-column height="43" amount="30.20" month="Dec"></chart-column>
    </div>
</template>

<script>
    (function () {
        class Chart extends CustomHTMLElement {
            constructor() {
                super();
                this._payments = [];
                this.columnMaxHeight = 150;
            }

            connectedCallback() {
                super.connectedCallback();
                console.log('payments-chart connected to page');

                this.shadowRoot.querySelector('#title').innerHTML = this.getAttribute('title');
            }

            get type() {
                return this.getAttribute('type');
            }

            get visible() {
                return this.hasAttribute('visible');
            }

            set visible(val) {
                if (val) {
                    this.setAttribute('visible', '');
                } else {
                    this.removeAttribute('visible');
                }
            }

            get payments() {
                return this._payments;
            }

            set payments(ps) {
                this._payments = ps;

                const amountsByMonth = this.groupAmountsByMonth();
                const heightFractions = this.getChartColumnsHeightFractions(amountsByMonth);

                const columns = this.shadowRoot.querySelector('#chart').children;
                Array.from(columns).forEach((column, index) => {
                    column.height = heightFractions[index] * this.columnMaxHeight;
                    column.amount = amountsByMonth[index].toFixed(2);
                })
            }

            groupAmountsByMonth() {
                return this.payments.reduce((acc, cur) => {
                    const date = new Date(cur.created_at);
                    const month = date.getMonth();

                    if (!acc[month])
                        acc[month] = +cur.amount;
                    else
                        acc[month] += +cur.amount;

                    return acc;
                }, Array(12).fill(0));
            }

            getChartColumnsHeightFractions(amounts) {
                const maxAmount = Math.max(...amounts);

                return amounts.map(amount => amount / maxAmount);
            }
        }

        let thisImportDoc = document.currentScript.ownerDocument;
        Chart.templateId = 'payments-chart-template';
        Chart.importDoc = thisImportDoc;
        ShadyCSS.prepareTemplate(Chart.template, 'payments-chart');
        customElements.define('payments-chart', Chart);
    })();
</script>
